<div #about id="about" class="container" data-aos="zoom-out">
  <div class="row">
    <div class="col-lg-6 about-image-div">
      <img
        src="../../../assets/Images/about-image.png"
        alt="about-image"
        class="about-image"
      />
    </div>
    <div class="col-lg-6 about-content">
      <h1 class="about-heading">About</h1>

      <h6>
        Welcome to our cutting-edge platform dedicated to enhancing retirement security through AI-driven solutions, including fraud detection, consultancy, and investment optimization. Our website is designed to predict and analyze critical data relevant to retirement planning. Tailored specifically for retirement records, our advanced algorithms utilize a sophisticated Time Series Algorithm to provide predictions on a yearly, monthly, weekly, or daily basis.
        </h6>
      <h6>
        <b>Note:</b> Please note that our website is currently optimized to work with a specific dataset. To get started, click here to download the designated dataset. Revolutionize your retirement planning with our AI-driven approach, ensuring a secure and prosperous future.

      </h6>
      <h6 class="developerInfo">Developed with 💝 by Team ALPHA</h6>
    </div>
  </div>
</div>
