<div class="container">
    <h1>Job Recommendation System</h1>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <label for="resumeFile">Upload your resume (PDF):</label>
      <input type="file" id="resumeFile" formControlName="resumeFile" accept=".pdf" required>
      <button type="submit">Predict Jobs</button>
    </form>
  
    <div *ngIf="userKeywords">
      <h2>Top Job Recommendations:</h2>
      <p>User Keywords: {{ userKeywords }}</p>
      <table border="1">
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Key Skills</th>
            <th>Role Category</th>
            <th>Location</th>
            <th>Functional Area</th>
            <th>Industry</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of topJobs">
            <td>{{ job['Job Title'] }}</td>
            <td>{{ job['Key Skills'] }}</td>
            <td>{{ job['Role Category'] }}</td>
            <td>{{ job['Location'] }}</td>
            <td>{{ job['Functional Area'] }}</td>
            <td>{{ job['Industry'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  